.inner {
  width: 88%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
  box-sizing: border-box; }

.row {
  clear: both;
  width: 100%;
  height: 100%; }

.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.column:not(:first-of-type), .columns:not(:first-of-type) {
  margin-top: 3rem; }

.column.center, .columns.center {
  margin: 0 auto !important;
  float: none; }

.columns.right, .columns.right {
  float: right; }

.columns.left, .columns.left {
  float: left; }

.inner:after, .row:after {
  content: "";
  display: table;
  clear: both; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .inner {
    width: 85%;
    padding: 0; } }

@media (min-width: 1000px) {
  .inner {
    width: 90%;
    padding: 0 0.8rem;
    box-sizing: content-box; }
  .column, .columns {
    margin-left: 4%; }
  .column:first-child, .columns:first-child {
    margin-left: 0; }
  .column:not(:first-child), .columns:not(:first-child) {
    margin-top: 0; }
  .one.column, .one.columns {
    width: 4.66667%; }
  .two.columns {
    width: 13.33333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.66667%; }
  .five.columns {
    width: 39.33333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.66667%; }
  .eight.columns {
    width: 65.33333%; }
  .nine.columns {
    width: 74%; }
  .ten.columns {
    width: 82.66667%; }
  .eleven.columns {
    width: 91.33333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.66667%; }
  .two-thirds.column {
    width: 65.33333%; }
  .one-half.column {
    width: 48%; }
  /* Offsets */
  .offset-by-one.column, .offset-by-one.columns {
    margin-left: 8.66667%; }
  .offset-by-two.column, .offset-by-two.columns {
    margin-left: 17.33333%; }
  .offset-by-three.column, .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column, .offset-by-four.columns {
    margin-left: 34.66667%; }
  .offset-by-five.column, .offset-by-five.columns {
    margin-left: 43.33333%; }
  .offset-by-six.column, .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column, .offset-by-seven.columns {
    margin-left: 60.66667%; }
  .offset-by-eight.column, .offset-by-eight.columns {
    margin-left: 69.33333%; }
  .offset-by-nine.column, .offset-by-nine.columns {
    margin-left: 78%; }
  .offset-by-ten.column, .offset-by-ten.columns {
    margin-left: 86.66667%; }
  .offset-by-eleven.column, .offset-by-eleven.columns {
    margin-left: 95.33333%; }
  .offset-by-one-third.column, .offset-by-one-third.columns {
    margin-left: 34.66667%; }
  .offset-by-two-thirds.column, .offset-by-two-thirds.columns {
    margin-left: 69.33333%; }
  .offset-by-one-half.column, .offset-by-one-half.columns {
    margin-left: 52%; } }

/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
* {
  margin: 0;
  padding: 0; }

::-moz-selection {
  background: #302D2F;
  color: #FFFFFF; }

::selection {
  background: #302D2F;
  color: #FFFFFF; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font: 16px/1.4 Proxima Nova, San Francisco, Helvetica Neue, sans-serif;
  color: #302D2F;
  background: #F9FBFB; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.cf:after {
  content: '';
  display: table;
  clear: both; }

#Home .wrapper {
  margin-top: 3rem; }
  #Home .wrapper .view-gh {
    display: inline-block;
    color: #A0999E;
    -webkit-transition: color 0.1s;
            transition: color 0.1s; }
    #Home .wrapper .view-gh:hover {
      color: #302D2F; }
  #Home .wrapper .title {
    font: 1.6rem/1.2 Proxima Nova, San Francisco, Helvetica Neue, sans-serif;
    color: #302D2F;
    text-transform: uppercase;
    letter-spacing: 0.4rem; }
