#Home {
  .title {
    font: font(medium);
    text-align: center;
    color: color(black);
    text-transform: uppercase;
    letter-spacing: ws(small);

    position: absolute;
    top: 46%;
    left: 0;
    right: 0;
  }
}