#Home {
  .wrapper {
    margin-top: ws(large);

    .view-gh {
      display: inline-block;
      color: color(grey);
      transition: color 0.1s;

      &:hover {
        color: color(black);
      }
    }

    .title {
      font: font(medium);
      color: color(black);
      text-transform: uppercase;
      letter-spacing: ws(tiny);
    }
  }
}