<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:domain" content="">

    <!-- Favicons -->
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon" href="" sizes="120x120">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <main id="{{title}}">