{{> header title='Home'}}

<div class="inner">
  <div class="row">
    <div class="wrapper four columns">
      <div class="title">Boilerplate</div>
      <a href="https://github.com/jadnco/boilerplate" class="view-gh">View on GitHub</a>
    </div>
  </div>
</div>

{{> footer}}