{{> header title='Boilerplate'}}

<div class="inner">
  <div class="row">
    <div class="wrapper five columns">
      <h2 class="title"><a href="https://github.com/jadnco/boilerplate" title="View on GitHub">Boilerplate</a></h2>
    </div>
  </div>
</div>

{{> footer}}